@import './base';


* {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color          : unset;
}

p,
span,
div {
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
}

.bg-main {
    background-color: $maincolor !important;
}

.bg-main-darker {
    background-color: $maincolor-darker !important;
}

.bg-red {
    background-color: $redcolor !important;
}

.bg-blue {
    background-color: $bluecolor !important;
}

.bg-green {
    background-color: $greencolor !important;
}

.bg-gray {
    background-color: $graycolor !important;
}

.btn-main {
    color           : $whitecolor !important;
    background-color: $maincolor-dark;

    &:hover {
        border-color    : $maincolor-darker;
        background-color: $maincolor-darker;
    }
}

.custom-menu {
    position     : absolute;
    left         : 16px;
    top          : calc(100% - 5px);
    background   : $whitecolor;
    box-shadow   : $div-boxshadow;
    border-radius: 3px;
    padding      : 0;

    li {
        &.menu-title {
            color           : $textgraycolor;
            font-weight     : bold;
            cursor          : default;
            background-color: $backgroundcolor !important;
            padding         : 6px 10px;

            &:hover {
                background-color: unset;
            }
        }

        a {
            color      : $textcolor;
            display    : block;
            padding    : 12px;
            display    : flex;
            align-items: center;
            gap        : 10px;

            .menu-icon {
                color        : $whitecolor;
                padding      : 5px;
                font-size    : 12px;
                border-radius: 50%;
            }

            &:hover {
                background-color: $backgroundcolor-darker;
            }

        }
    }

}